---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {
  background: #222;
  font-family: 'PT Sans', sans-serif;
}
.site-title, 
.site-title:visited {
  text-transform: uppercase;
  color: #d3d3d3;
}
.site-description {
  color: #828282;
}
.site-nav .page-link,
.site-nav .page-link:visited,
.site-nav .page-link:active,
.page-content {
  color: #d3d3d3;
}
.site-title:hover,
.page-link:hover {
  color: yellowgreen;
  text-decoration: none;
}
.site-header,
.site-footer {
  font-family: 'PT Mono', sans-serif;
  background: #343a3f;
  border: none;
  color: #d3d3d3;
}
.site-info {
  float: left;
}
.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;
  margin-top: 12px;
  border-radius: 5px;
}
a,
a:visited,
a:hover {
  color: yellowgreen;
}
pre, 
code, 
.highlighter-rouge .highlight {
  border: 1px solid #333;
  border-radius: 0;
  background-color: black;
}
@media screen and (max-width: 600px) {
  .site-nav label[for="nav-trigger"] {
    background: yellowgreen;
  }
  .site-nav {
    background-color: #222;
    border: #333;
  }
  .site-avatar {
    display: none;
  }
}
.footer-col-1 {
  width: 40%;
}
.hidden {
  display: none;
}
.btn, .btn:active, .btn:visited, .btn:hover {
  background: yellowgreen;
  color: #333;
  padding: 10px;
  border-radius: 3px;
  float: right;
}
.page-navigation {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 2em 0;
  display: flex;
  justify-content: space-between;
}
a.prev {
  float: left;
}
a.next {
  float: right;
}