---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
// variables
$white: white;
//$lightest: ;
//$lighter: ;
$light: #d3d3d3;
$medium: #828282;
$dark: #0d0208;
$darker: #333;
$darkest: #222;
$black: #0d0208;
$accent: #008f11;

body {
  background: $black;
  font-family: 'PT Sans', sans-serif;
}
.site-header {
  font-family: 'PT Mono', sans-serif;
  background: $dark;
  border: none;

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .site-avatar {
      width: 12%;
      margin: auto;
      margin-right: 1em;
      border-radius: .5em;
    }

    .site-info {
      display: flex;
      flex-direction: column;
      width: 88%;

      .row {
        display: flex;

        .site-title {
          width: 75%;
          text-transform: uppercase;
          color: $light;
        }

        .site-nav {
          //width: 100%;
          //text-align: center;
      
          a.page-link {
            text-transform: uppercase;
            text-decoration: underline;
            color: $light;
          }
  
          a.page-link:hover {
            color: $accent;
            text-decoration: none;
          }
        }
      }

      .site-description {
        color: #828282;
      }
    }
  }
}

.page-content {
  color: $light;

  a,
  a:visited,
  a:hover {
    color: $accent;
  }
  
  pre, 
  code, 
  .highlighter-rouge .highlight {
    border: 1px solid $darker;
    border-radius: 0;
    background-color: $black;
  }

  .page-navigation {
    border-top: 2px solid $darker;
    border-bottom: 2px solid $darker;
    padding: 2em 0;
    display: flex;
    justify-content: space-between;
  
    a.prev {
      float: left;
    }
    
    a.next {
      float: right;
    }
  }
}

@media screen and (min-width: 600px) {
  .site-nav {
    width: 100%;
    text-align: right;
  }
}

@media screen and (max-width: 600px) {
  .site-nav label[for="nav-trigger"] {
    background: $accent;
  }

  .site-nav {
    background-color: $dark;
    border: $dark;
  }

  .site-avatar {
    display: none;
  }
}

.hidden {
  display: none;
}

.btn, .btn:active, .btn:visited, .btn:hover {
  background: $accent;
  color: $darker;
  padding: 10px;
  border-radius: 3px;
  float: right;
}